 <h1>{{title}} Page</h1>
    <p>Hi {{user}} how are you!!!!</p>
    <p>{{greetings}}</p>
    <p>cookies data : {{myname}}</p>
    <p>Today is {{currentDate}}</p>
   
<a href="/about">about</a>
<br>
<a href="/"> Home</a>
<br>
<a href="/software">Software</a>
<br>
<a href="/project">Project</a>